extends layout

block content
  section
    h4 Account
    //- img(src=user.gravatar + 'd=retro')
    form(action="/account" method="POST")
      input(type="text" name="name" placeholder="name" value=user.name)
      input(type="email" name="email" placeholder="email" value=user.email)
      input(type="submit" value="Save →")
    a.btn(href="/logout") Logout →

  if categories
    section
      h4 Categories
      .categories
        each category in categories
          .category
            a(href=`/category/${category._id}/edit` style=`background-color: ${category.color}`)= category.name
      a.btn(href="/categories/add") New category →
