extends layout

include mixins/_appNav

block content
  +appNav("/settings")

  div.app-page
    section
      h4 Account
      //- img(src=user.gravatar + 'd=retro')
      form(action="/account" method="POST" class="form")
        section.form__inputs
          input(type="text" name="name" placeholder="name" value=user.name)
        
        section.form__inputs
          input(type="email" name="email" placeholder="email" value=user.email)
        
        section.form__inputs
          input(type="submit" value="Save →")
      
        section.form__inputs
          a.form__button(href="/logout") Logout →

    section
      h4 Categories
      .categories
        each category in categories
          .category
            a(href=`/category/${category._id}/edit` style=`background-color: ${category.color}`)= category.name
      
      section.form__inputs
        a.form__button(href="/categories/add") New category →
