extends layout

include mixins/_appNav

block content
  -
    const leftMenu = [
      { url: "/settings", title: "Settings", icon: "chevron-left" }
    ]

  +appNav(title, leftMenu)

  div.app-page
    //- img(src=user.gravatar + 'd=retro')
    form(action="/account" method="POST" class="form")
      section.form__inputs
        input(type="text" name="name" placeholder="Name" value=user.name)
        input(type="email" name="email" placeholder="Email" value=user.email)
        input(type="submit" value="Save")
