extends layout

block content
  if categories
    .categories
      each category in categories
        .category
          a(href=`/category/${category._id}/edit` style=`background-color: ${category.color}`)= category.name

    a.btn(href="/categories/add") New category →
