extends layout

block content
  if categories
    each category in categories
      a.transactions__day(href=`/category/${category._id}/edit`)
        h4.transactions__title= category.name
          span.circle(style=`background-color: ${category.color}`) &nbsp;
  <br />
  a(href="/categories/add") New category →
