extends layout

include mixins/_appNav

block content
  +appNav("Categories", "/settings", "/categories/add", "chevron-left", "plus")
  
  div.app-page
    if categories
      ul.content__list
        each category in categories
          li.content__item
            a(href=`/category/${category._id}/edit`)
              span.content__item__name
                span.content__item__pill(style=`background-color: ${category.color}`)= category.name
              span.content__item__action
                i(data-feather="chevron-right")
