extends layout

include mixins/_appNav
include mixins/_categoryForm

block content
  -
    const appNavRight = [
      { url: `/transactions/${category._id}`, title: "Browse all transactions", icon: "list" }
    ]

  +appNav(title, null, appNavRight)

  div.app-page
    +categoryForm(category)
