extends layout

include mixins/_categoryForm

block content
  nav.app-nav
    a.align--left(href='/') ← Back
    a.align--center= title
    a.align--right &nbsp;

  div.app-page
    +categoryForm(category)
