extends layout

include mixins/_transactionForm

block content
  nav.app-nav
    a.align--left(href='/') ← Back
    a.align--center= title
    a.align--right &nbsp;

  div.app-page
    +transactionForm(transaction)
