extends layout

block content
  nav.app-nav
    a.align--left(href='/') â† Back
    a.align--center= title
    a.align--right &nbsp;

  div.app-page
    p= `${message}`
    pre.error!= stackHighlighted
