doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= `${title || 'My Finances'}`
    link(rel="icon" sizes="192x192" href="/images/icons/app-icon.png")
    link(rel="apple-touch-icon" sizes="192x192" href="/images/icons/app-icon.png")

  body
    //- block messages
    //-   if locals.flashes
    //-     - const categories = Object.keys(locals.flashes)
    //-     each category in categories
    //-       each message in flashes[category]
    //-         .flash(class=`flash--${category}`)
    //-           p!= message

    block content

  script(src="/dist/bundle.js")
