doctype html
html
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      nav
        a(href="/") home
        a(href="/add") add
      nav
        if user
          a(href="/logout") logout
          a(href="/account")
            img(src=user.gravatar + 'd=retro')
        else
          a(href="/login") login
          a(href="/register") register
    
    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;

    block content
