doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= `${title}`
    link(rel="stylesheet" href="/dist/style.css")
    link(rel="icon" sizes="192x192" href="/images/icons/app-icon.png")
    link(rel="apple-touch-icon" sizes="192x192" href="/images/icons/app-icon.png")

  body
    block header
      if user
        header.header
          nav.nav
            a.nav__link(href="/" class=(currentPath === '/' ? 'nav__link--active' : '')) dashboard
            a.nav__link(href="/transactions" class=(currentPath.includes('/transaction') ? 'nav__link--active' : '')) transactions
            a.nav__link(href="/categories" class=(currentPath === '/categories' ? 'nav__link--active' : '')) categories
            a.nav__link(href="/account" class=(currentPath === '/account' ? 'nav__link--active' : '')) account
      
      .content
        block messages
          if locals.flashes
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p!= message

        block content

        block overlay
          .overlay
            .container
              a.btn__add(href="/add") +

  script(src="/dist/app.js")
