extends layout

include mixins/_loginForm
include mixins/_forgot

block content
  nav.app-nav
    a.align--left &nbsp;
    a.align--center= title
    a.align--right &nbsp;

  div.app-page
    +loginForm()
