extends layout

include mixins/_appNav

block content
  +appNav()

  div.app-page
    form(method="POST" class="form")
      section.form__inputs
        input(type="password" placeholder="Password" name="password")
      
      section.form__inputs
        input(type="password" placeholder="Confirm password" name="password-confirm")
      
      section.form__inputs
        input(type="submit" value="Reset →")
