extends layout

block content
  form(method="POST")
    h2 Reset your password
    input(type="password" placeholder="Password" name="password")
    input(type="password" placeholder="Confirm password" name="password-confirm")
    input(type="submit" value="Reset →")
