extends layout

block content
  nav.app-nav
    a.align--left &nbsp;
    a.align--center= title
    a.align--right &nbsp;

  div.app-page
    form(method="POST" class="form")
      section.form__inputs
        input(type="password" placeholder="Password" name="password")
      
      section.form__inputs
        input(type="password" placeholder="Confirm password" name="password-confirm")
      
      section.form__inputs
        input(type="submit" value="Reset →")
