extends layout

include mixins/_appNav
include mixins/_groupedTransactions

block content
  - const pageTitle = term ? `Search: ${term}` : "Search"
  +appNav(pageTitle)

  div.app-page
    +groupedTransactions(transactions)
