extends layout

include mixins/_appNav

block content
  +appNav("Search", "/transactions")

  div.app-page
    form(action='/search' method="POST" class="form")
      section.search.form__inputs
        input(type="text" name="term" placeholder="Search" value=term)
