extends layout

include mixins/_appNav

block content
  +appNav(title, menus.settings.appNavLeft)

  .content
    header.content__head
      h1 Settings

    ul.content__list
      each link in menus.settings.contentList
        li.content__item
          a(href=link.url)
            span.content__item__icon
              i(data-feather=link.icon)
            span.content__item__name= link.title
            span.content__item__action
              i(data-feather="chevron-right")
