extends layout

include mixins/_appNav

block content
  +appNav("Stats", "/settings", "", "chevron-left", "")
  
  div.app-page
    pre= h.dump(overallStats)
    pre= h.dump(monthlyStats)
    pre= h.dump(yearlyStats)
