extends layout

include mixins/_appNav
include mixins/_groupedTransactions

block content
  - const pageTitle = category ? `${category.name}` : "All"

  +appNav(pageTitle, menus.transactions.appNavLeft, menus.transactions.appNavRight)

  div.app-page
    +groupedTransactions(transactions)
