extends layout

block content
  pre= h.dump(transactions)
  h2 #{title}
  if transactions
    each transaction in transactions
      p #{transaction.description}
        if user && transaction.user.equals(user._id)
          a(href=`/transactions/${transaction._id}/edit`) edit
