extends layout

include mixins/_appNav
include mixins/_groupedTransactions

block content
  - const pageTitle = category ? `${category.name}` : cleared === false ? "Uncleared" : "All"

  +appNav(pageTitle, menus.transactions.appNavLeft, menus.transactions.appNavRight)

  .content
    +groupedTransactions(transactions)
