extends layout

include mixins/_appNav
include mixins/_groupedTransactions

block content
  +appNav(title, menus.transactions.appNavLeft, menus.transactions.appNavRight)

  .content
    +groupedTransactions(transactions)
