extends layout

include mixins/_appNav
include mixins/_groupedTransactions

block content
  - const pageTitle = category ? `${category.name}` : month >= 0 ? `${h.getMonthName(month)} ${year}` : "Transactions"

  +appNav(pageTitle, menus.transactions.appNavLeft, menus.transactions.appNavRight)

  div.app-page
    +groupedTransactions(transactions)
