extends layout

include mixins/_appNav

block content
  +appNav("Settings", "/dashboard", "/logout", "chevron-left", "log-out")
  
  div.app-page
    ul.content__list
      each item in h.settingsMenu
        li.content__item
          a(href=item.url)
            span.content__item__icon
              i(data-feather=item.icon)
            span.content__item__name= item.title
            span.content__item__action
              i(data-feather="chevron-right")
