<div ng-include src="'templates/header.html'"></div>

<div class="app-content">
  <section class="dashboard">
    <div class="spinner" ng-show="loading"></div>
    <div class="content" ng-hide="loading">
      <div class="filters">
        <input type="search" ng-model="searchQuery" placeholder="Search">
        <select ng-options="y for y in years" ng-model="selectedYear"></select>
        <select ng-options="monthNames[m] for m in months" ng-model="selectedMonth"></select>
      </div>

      <div class="transactions">
        <div class="transactions-daily" ng-repeat="daily in dailyTransactions | filter:searchQuery">
          <h4 class="transactions-head">
            {{ daily.date }}
            <span class="transactions-head-day" ng-bind="daily.dayOfWeek"></span>
            <span class="transactions-head-amount" ng-bind="daily.totalAmount | formatCurrency:currency"></span>
          </h4>
          <ol class="transactions-list">
            <li class="transactions-list-item" ng-repeat="t in daily.transactions">
              <a ng-href="#!/edit/{{t.$id}}">
                {{ t.description }}
                <span ng-style="{'background-color': t.categoryColour}" ng-bind="t.amount | formatCurrency:currency"></span>
              </a>
            </li>
          </ol>
        </div>
        <p ng-show="dailyTransactions.length === 0">No transactions yet.</p>
      </div>
    </div>
  </section>
</div>

<div ng-include src="'templates/overlay.html'"></div>
