<section class="pv4 ph3">
  <div class="mw6 center">
    <div class="mb4">
      <select ng-options="y for y in years" ng-model="selectedYear"></select>
      <select ng-options="monthNames[m] for m in months" ng-model="selectedMonth"></select>
    </div>

    <h1 class="fw4 f6 ttu tracked">Transactions <a class="fr gray" ng-click="hideForm = !hideForm">(+)</a></h1>

    <form class="mv4" ng-class="{dn: hideForm}" ng-submit="addTransaction()">
      <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="date" ng-model="transaction.date" required>
      <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" placeholder="Description" ng-model="transaction.description">
      <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" placeholder="Amount" ng-model="transaction.amount" required>
      <select class="ba b--black-20 pa2 mb2 db w-100" ng-options="c.name for c in categories" ng-model="transaction.category" required></select>
      <input class="f5 no-underline pointer black bg-white bg-animate hover-bg-black hover-white pa2 ba border-box w-100 center" type="submit" value="Add">
    </form>

    <div class="mb4" id="transactions-list">
      <p ng-show="dailyTransactions | objIsEmpty">No content here.</p>
      <div class="mb3" ng-repeat="(day, daily) in dailyTransactions">
        <h4 class="fw3 mb0 pb2 bb b--black-20">
          {{ day }}
          <span class="f6 gray" ng-bind="daily.dayOfWeek"></span>
          <span class="fr ph2" ng-bind="daily.totalAmount | formatCurrency:settings.currency"></span>
        </h4>
        <ol class="list pl0 mv2">
          <li class="dashboard-list-item pa0 mt2" ng-repeat="transaction in daily.transactions">
            {{ transaction.description }}
            <a class="dib ml2 gray" title="Delete" ng-click="transactions.$remove(transaction)">(x)</a>
            <span class="fr ph2 br3 white bg-{{transaction.categoryColour}}">
              <span class="tooltip" title="This is a recurring transaction." ng-show="transaction.type === 'fixed'">↺</span>
              {{ transaction.amount | formatCurrency:settings.currency }}
            </span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
