<section class="settings">
  <div class="spinner" ng-show="loading"></div>
  <div class="content" ng-hide="loading">
    <h1>Categories <a title="Add category" ng-click="hideForm = !hideForm" ng-bind="hideForm ? '(+)' : '(-)'"></a></h1>
    
    <form ng-class="{dn: hideForm}" ng-submit="addCategory()">
      <input type="text" placeholder="Name" ng-model="category.name" required>
      <input type="text" placeholder="Colour" ng-model="category.colour" required>
      <input type="submit" value="Add">
    </form>
    
    <ol>
      <li ng-repeat="c in categories">
        <span ng-bind="c.name"></span>
        <a title="Delete category" ng-click="deleteCategory(c)">(x)</a>
      </li>
    </ol>

    <h1>Currency</h1>

    <select ng-options="c for c in currencies" ng-model="currency" ng-change="setCurrency()"></select></dd>
  </div>
</section>
