<section class="statistics">
  <div class="spinner" ng-show="loading"></div>
  <div class="content" ng-hide="loading">
    <h1>This month</h1>
    <dl>
      <dt>Income</dt>
      <dd ng-bind="monthlyIncome | formatCurrency:currency"></dd>
    </dl>
    <dl>
      <dt>Expenses</dt>
      <dd ng-bind="monthlyExpenses | formatCurrency:currency"></dd>
    </dl>
    <dl>
      <dt>Highest income</dt>
      <dd ng-bind="monthlyHighestIncome | formatCurrency:currency"></dd>
    </dl>
    <dl>
      <dt>Highest expense</dt>
      <dd ng-bind="monthlyHighestExpense | formatCurrency:currency"></dd>
    </dl>

    <h1>This year</h1>
    <dl>
      <dt>Income</dt>
      <dd ng-bind="yearlyIncome | formatCurrency:currency"></dd>
    </dl>
    <dl>
      <dt>Expenses</dt>
      <dd ng-bind="yearlyExpenses | formatCurrency:currency"></dd>
    </dl>
    <dl>
      <dt>Highest income</dt>
      <dd ng-bind="yearlyHighestIncome | formatCurrency:currency"></dd>
    </dl>
    <dl>
      <dt>Highest expense</dt>
      <dd ng-bind="yearlyHighestExpense | formatCurrency:currency"></dd>
    </dl>
  </div>
</section>
