<section class="pv4 ph3">
  <div class="spinner" ng-show="loading"></div>
  <div class="mw6 center" ng-show="!loading">
    <h1 class="fw4 f6 ttu tracked">This week</h1>
    <dl class="dib mr4">
      <dt class="f6 ml0 mb2 mid-gray">Income</dt>
      <dd class="f3 f2-ns ml0" ng-bind="weeklyIncome | formatCurrency:settings.currency"></dd>
    </dl>
    <dl class="dib mr4">
      <dt class="f6 ml0 mb2 mid-gray">Expenses</dt>
      <dd class="f3 f2-ns ml0" ng-bind="weeklyExpenses | formatCurrency:settings.currency">993</dd>
    </dl>
    <dl class="dib mr4">
      <dt class="f6 ml0 mb2 mid-gray">Highest income</dt>
      <dd class="f3 f2-ns ml0" ng-bind="weeklyHighestIncome | formatCurrency:settings.currency"></dd>
    </dl>
    <dl class="dib mr4">
      <dt class="f6 ml0 mb2 mid-gray">Highest expense</dt>
      <dd class="f3 f2-ns ml0" ng-bind="weeklyHighestExpense | formatCurrency:settings.currency"></dd>
    </dl>

    <h1 class="fw4 f6 ttu tracked mt4">This month</h1>
    <dl class="dib mr4">
      <dt class="f6 ml0 mb2 mid-gray">Income</dt>
      <dd class="f3 f2-ns ml0" ng-bind="monthlyIncome | formatCurrency:settings.currency"></dd>
    </dl>
    <dl class="dib mr4">
      <dt class="f6 ml0 mb2 mid-gray">Expenses</dt>
      <dd class="f3 f2-ns ml0" ng-bind="monthlyExpenses | formatCurrency:settings.currency">993</dd>
    </dl>
    <dl class="dib mr4">
      <dt class="f6 ml0 mb2 mid-gray">Highest income</dt>
      <dd class="f3 f2-ns ml0" ng-bind="monthlyHighestIncome | formatCurrency:settings.currency"></dd>
    </dl>
    <dl class="dib mr4">
      <dt class="f6 ml0 mb2 mid-gray">Highest expense</dt>
      <dd class="f3 f2-ns ml0" ng-bind="monthlyHighestExpense | formatCurrency:settings.currency"></dd>
    </dl>

    <h1 class="fw4 f6 ttu tracked mt4">This year</h1>
    <dl class="dib mr4">
      <dt class="f6 ml0 mb2 mid-gray">Income</dt>
      <dd class="f3 f2-ns ml0" ng-bind="yearlyIncome | formatCurrency:settings.currency"></dd>
    </dl>
    <dl class="dib mr4">
      <dt class="f6 ml0 mb2 mid-gray">Expenses</dt>
      <dd class="f3 f2-ns ml0" ng-bind="yearlyExpenses | formatCurrency:settings.currency">993</dd>
    </dl>
    <dl class="dib mr4">
      <dt class="f6 ml0 mb2 mid-gray">Highest income</dt>
      <dd class="f3 f2-ns ml0" ng-bind="yearlyHighestIncome | formatCurrency:settings.currency"></dd>
    </dl>
    <dl class="dib mr4">
      <dt class="f6 ml0 mb2 mid-gray">Highest expense</dt>
      <dd class="f3 f2-ns ml0" ng-bind="yearlyHighestExpense | formatCurrency:settings.currency"></dd>
    </dl>
  </div>
</section>
