*
  margin 0
  box-sizing border-box

body
  font-family -apple-system, Helvetica, Arial, sans-serif

.app-header
  position fixed
  width 100%
  z-index 1
  background-color white
  box-shadow 0 0 4px #657786

.app-nav
  display flex
  max-width 600px
  margin 0 auto
  a
    flex 1
    position relative
    padding 15px 0
    color #657786
    font-size 14px
    font-weight 600
    text-align center
    &.active
      &:after
        content ''
        background-color #1da1f2
        height 2px
        position absolute
        bottom 0
        left 0
        right 0

.app-content
  position relative
  padding 72px 12px 24px
  max-width 600px
  margin 0 auto

.filters
  margin-bottom: 32px

.transactions-daily
  margin-bottom 24px

.transactions-head
  margin-bottom 0
  padding-bottom 8px
  font-weight 300
  border-bottom 1px solid rgba(0, 0, 0, .2)

.transactions-head-day
  color gray

.transactions-head-amount
  float right
  padding 0 8px

.transactions-list
  margin 8px 0
  padding-left 0
  list-style-type none

.transactions-list-item
  margin-top 8px
  overflow hidden
  line-height 2
  a
    display block
  span
    float right
    padding 0 8px
    color white
    background-color #333
    border-radius 8px

.app-overlay
  position fixed
  right 0
  bottom 0
  left 0

.btn-add
  position relative
  display block
  float right
  bottom 32px
  right 32px
  width 48px
  height 48px
  border-radius 100%
  box-shadow 1px 1px 4px rgba(101, 119, 134, .75)
  background-color #1da1f2
  color white
  text-align center
  font-size 24px
  line-height 48px

@media screen and (min-width: 600px)
  .btn-add
    right -64px

.container
  max-width 600px
  margin 0 auto

.justify
  display: flex
  vertical-align: middle
  align-content: center

.spinner
  &:before
    content ''
    display block
    margin 0 auto
    width 24px
    height 24px
    border-radius 50%
    border 2px solid #4285F4
    border-top-color #DE3E35
    border-right-color #F7C223
    border-bottom-color #1B9A59
    animation spinner 600ms linear infinite

input[type=text],
input[type=search],
input[type=number],
input[type=date],
input[type=submit]
select,
button
  display: block
  width: 100%
  padding: 8px
  margin-bottom: 8px
  -webkit-appearance: none
  border-width: 1px
  border-color: rgba(black, 0.2)

input[type=submit],
button
  background-color: white

a
  color #333
  text-decoration none
  &:active
    background-color #f5f8fa

a:hover,
a:active,
a:focus
  text-decoration none

[ng-click]
  cursor pointer

@keyframes spinner
  to
    transform rotate(360deg)

[ng-cloak]
  display none !important
