mixin appNav(backHref = "/", forwardHref, pageTitle)
  nav.app-nav
    div
      a(href=`${backHref}`)
        i(data-feather="chevron-left")
    div
      span= title || pageTitle
    div
      if forwardHref
        a(href=`${forwardHref}`)
          i(data-feather="chevron-right")
