mixin categoryForm(category = {})
  form(action=`/categories/add/${category._id || ''}` method="POST" class="form")
    section.form__inputs
      input(type="text" name="name" placeholder="Name" value=category.name required)
    
    section.form__inputs
      input(type="text" name="color" placeholder="Color" value=category.color required)
    
    section.form__inputs
      input(type="submit" value="Save →" class="button")
    
    if category._id
      section.form__inputs
        a.form__button(href=`/category/${category._id}/remove` onclick="return confirm('Are you sure you want to remove this category?')") Remove →
