mixin categoryForm(category = {})
  form(action=`/categories/add/${category._id || ''}` method="POST")
    input(type="text" name="name" placeholder="Name" value=category.name required)
    input(type="text" name="color" placeholder="Color" value=category.color required)
    input(type="submit" value="Save →" class="button")
    if category._id
      a(href=`/category/${category._id}/remove` onclick="return confirm('Are you sure you want to remove this category?')") Remove →
