mixin loginForm()
  form(action="/login" method="POST" class="form")
    section.form__inputs
      input(type="email" placeholder="Email" name="email")
    
    section.form__inputs
      input(type="password"  placeholder="Password" name="password")
    
    section.form__inputs
      input(type="submit" value="Log in →")
  