<section class="bb b--black-10 pv4 ph3 pa5-m ph6-l pv5-l">
  <h1 class="fw4 f6 ttu tracked pb3">Categories</h1>

  <form class="mb4" id="add-category-form" ng-submit="addCategory()">
    <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" placeholder="Name" ng-model="category.name" required>
    <input class="f5 no-underline pointer black bg-white bg-animate hover-bg-black hover-white pa2 ba border-box w-100 center" type="submit" value="Add">
  </form>

  <table class="collapse ba br2 b--black-10 pv2 ph3 w-100">
    <tbody>
      <tr class="striped--near-white">
        <th class="pv2 ph3 tl f6 fw6 ttu">Category</th>
        <th class="pv2 ph3 tl f6 fw6 ttu">Spent</th>
        <th class="pv2 ph3 tl f6 fw6 ttu">Actions</th>
      </tr>
      <tr class="striped--near-white" ng-repeat="c in $storage.appData.categories">
        <td class="pv2 ph3">{{ c.name }}</td>
        <td class="pv2 ph3">{{ c.spent | formatCurrency:$storage.appData.settings.currency }}</td>
        <td class="pv2 ph3"><a ng-click="deleteCategory(c)">delete</a></td>
      </tr>
    </tbody>
  </table>
</section>
