<section class="bb b--black-10 pv4 ph3 pa5-m ph6-l pv5-l">
  <p class="f5 f2-ns mw8 measure lh-copy" ng-cloak>You have {{ amountLeft | formatCurrency:$storage.settings.currency }} left to spend today.</p>

  <select ng-options="y for y in years" ng-model="selectedYear"></select>
  <select ng-options="monthNames[m] for m in months" ng-model="selectedMonth"></select>
</section>

<section class="bb b--black-10 pv4 ph3 pa5-m ph6-l pv5-l">
  <h1 class="fw4 f6 ttu tracked pb3">Expenses</h1>

  <form class="mb4" id="expenses-form" ng-submit="addExpense()">
      <input class="input-reset ba b--black-20 pa2 mb2 db w-100" id="expense-date" type="date" ng-model="expense.date" required>
      <input class="input-reset ba b--black-20 pa2 mb2 db w-100" id="expense-description" type="text" placeholder="Description" ng-model="expense.description" required>
      <input class="input-reset ba b--black-20 pa2 mb2 db w-100" id="expense-amount" type="number" min="0.01" step="0.01" placeholder="Amount" ng-model="expense.amount" required>
      <!--<select class="bg-white ba b--black-20 pa2 mb2 db w-100" id="expense-category" ng-model="expense.category">
        <option ng-repeat="c in $storage.categories" value="{{ c.id }}">{{ c.name }}</option>
      </select>-->
      <!--<input id="expense-isRecurring" type="checkbox" ng-model="expense.isRecurring"> recurring?-->
      <input class="f5 no-underline pointer black bg-white bg-animate hover-bg-black hover-white pa2 ba border-box w-100 center" type="submit" value="Add">
  </form>

  <table class="collapse ba br2 b--black-10 pv2 ph3 w-100">
    <tbody>
      <tr class="striped--near-white">
        <th class="pv2 ph3 tl f6 fw6 ttu">Date</th>
        <th class="pv2 ph3 tl f6 fw6 ttu">Description</th>
        <th class="pv2 ph3 tl f6 fw6 ttu">Amount</th>
        <th class="pv2 ph3 tl f6 fw6 ttu">Category</th>
        <th class="pv2 ph3 tl f6 fw6 ttu">Actions</th>
      </tr>
      <tr class="striped--near-white" ng-repeat="e in $storage.expenses | filter:updateView">
        <td class="pv2 ph3">{{ e.date | date }}<span title="This is a recurring expense." ng-show="e.type === 'fixed'"> ↺</span></td>
        <td class="pv2 ph3 ">{{ e.description }}</td>
        <td class="pv2 ph3">{{ e.amount | formatCurrency:$storage.settings.currency }}</td>
        <td class="pv2 ph3 ">{{ e.categoryName }}</td>
        <td class="pv2 ph3"><a ng-click="deleteExpense(e)"> delete</a></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="bb b--black-10 pv4 ph3 pa5-m ph6-l pv5-l">
  <h1 class="fw4 f6 ttu tracked pb3">Income</h1>

  <form class="mb4" id="income-form" ng-submit="addIncome()">
    <input class="input-reset ba b--black-20 pa2 mb2 db w-100" id="income-date" type="date" ng-model="income.date" required>
    <input class="input-reset ba b--black-20 pa2 mb2 db w-100" id="income-description" type="text" placeholder="Description" ng-model="income.description" required>
    <input class="input-reset ba b--black-20 pa2 mb2 db w-100" id="income-amount" type="number" min="0.01" step="0.01" placeholder="Amount" ng-model="income.amount" required>
    <input class="f5 no-underline pointer black bg-white bg-animate hover-bg-black hover-white pa2 ba border-box w-100 center" type="submit" value="Add">
  </form>

  <table class="collapse ba br2 b--black-10 pv2 ph3 w-100">
    <tbody>
      <tr class="striped--near-white">
        <th class="pv2 ph3 tl f6 fw6 ttu">Date</th>
        <th class="pv2 ph3 tl f6 fw6 ttu">Description</th>
        <th class="pv2 ph3 tl f6 fw6 ttu">Amount</th>
        <th class="pv2 ph3 tl f6 fw6 ttu">Actions</th>
      </tr>
      <tr class="striped--near-white" ng-repeat="i in $storage.income | filter:updateView">
        <td class="pv2 ph3">{{ i.date | date }}</td>
        <td class="pv2 ph3">{{ i.description }}</td>
        <td class="pv2 ph3">{{ i.amount | formatCurrency:$storage.settings.currency }}</td>
        <td class="pv2 ph3"><a ng-click="deleteIncome(i)">delete</a></td>
      </tr>
    </tbody>
  </table>
</section>
