<section class="bb b--black-10 pv4 ph3">
  <div class="mw7 center">
    <h1 class="fw4 f6 ttu tracked">Overall</h1>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Balance</dt>
      <dd class="f3 f2-ns ml0" ng-bind="balance | formatCurrency:$storage.appData.settings.currency"></dd>
    </dl>
  </div>
</section>

<section class="bb b--black-10 pv4 ph3">
  <div class="mw7 center">
    <h1 class="fw4 f6 ttu tracked">This week</h1>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Income</dt>
      <dd class="f3 f2-ns ml0" ng-bind="weeklyIncome | formatCurrency:$storage.appData.settings.currency"></dd>
    </dl>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Expenses</dt>
      <dd class="f3 f2-ns ml0" ng-bind="weeklyExpenses | formatCurrency:$storage.appData.settings.currency">993</dd>
    </dl>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Highest income</dt>
      <dd class="f3 f2-ns ml0" ng-bind="weeklyHighestIncome | formatCurrency:$storage.appData.settings.currency"></dd>
    </dl>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Highest expense</dt>
      <dd class="f3 f2-ns ml0" ng-bind="weeklyHighestExpense | formatCurrency:$storage.appData.settings.currency"></dd>
    </dl>
  </div>
</section>

<section class="bb b--black-10 pv4 ph3">
  <div class="mw7 center">
    <h1 class="fw4 f6 ttu tracked">This month</h1>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Income</dt>
      <dd class="f3 f2-ns ml0" ng-bind="monthlyIncome | formatCurrency:$storage.appData.settings.currency"></dd>
    </dl>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Expenses</dt>
      <dd class="f3 f2-ns ml0" ng-bind="monthlyExpenses | formatCurrency:$storage.appData.settings.currency">993</dd>
    </dl>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Highest income</dt>
      <dd class="f3 f2-ns ml0" ng-bind="monthlyHighestIncome | formatCurrency:$storage.appData.settings.currency"></dd>
    </dl>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Highest expense</dt>
      <dd class="f3 f2-ns ml0" ng-bind="monthlyHighestExpense | formatCurrency:$storage.appData.settings.currency"></dd>
    </dl>
  </div>
</section>

<section class="bb b--black-10 pv4 ph3">
  <div class="mw7 center">
    <h1 class="fw4 f6 ttu tracked">This year</h1>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Income</dt>
      <dd class="f3 f2-ns ml0" ng-bind="yearlyIncome | formatCurrency:$storage.appData.settings.currency"></dd>
    </dl>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Expenses</dt>
      <dd class="f3 f2-ns ml0" ng-bind="yearlyExpenses | formatCurrency:$storage.appData.settings.currency">993</dd>
    </dl>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Highest income</dt>
      <dd class="f3 f2-ns ml0" ng-bind="yearlyHighestIncome | formatCurrency:$storage.appData.settings.currency"></dd>
    </dl>
    <dl class="dib mr5">
      <dt class="f6 ml0 mb2 mid-gray">Highest expense</dt>
      <dd class="f3 f2-ns ml0" ng-bind="yearlyHighestExpense | formatCurrency:$storage.appData.settings.currency"></dd>
    </dl>
  </div>
</section>
