.categories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  flex: 0 0 50%;

  > a {
    display: block;
    padding: 16px 8px;
    color: white;

    &:active,
    &:focus {
      opacity: 0.8;
    }
  }
}
