$c-chart-default: rgba(255, 255, 255, 0.75);
$c-chart-active: white;

.chart {
  padding: 16px 8px;
}

.chart--expenses {
  background-color: $c-expenses;
  color: rgba(255, 255, 255, 0.75);
}

.chart--income {
  background-color: $c-income;
  color: rgba(255, 255, 255, 0.75);
}

.chart--mixed {
  color: #2d3748;
  background-color: rgba(245, 245, 245, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .chart__item > a {
    color: #2d3748;
  }

  .chart__item__bar {
    background-color: transparent;
  }
}

.chart__list {
  @extend %scroll;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  &--years {
    height: 119px;

    .chart__item {
      padding-left: 20px;
    }

    .chart__item:first-child {
      padding-left: 0;
    }
  }

  &--months {
    height: 100px;

    .chart__item {
      padding-left: 0;
    }
  }
}

.chart__item {
  > a {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    height: 100%;
    color: $c-chart-default;
  }

  &.chart__item--active {
    > a {
      color: $c-chart-default;
    }

    .chart__item__bar {
      background-color: $c-chart-active;
    }
  }
}

.chart__item__bar {
  display: flex;
  align-items: baseline;
  margin-top: auto;
  width: 24px;
  background-color: $c-chart-default;
}

.chart__item__bar__segment {
  width: 12px;

  &--income {
    background-color: $c-income;
  }

  &--expenses {
    background-color: $c-expenses;
  }
}

.chart__item__label {
  font-size: 13px;

  &--active {
    color: $c-chart-active;
  }

  &--years {
    padding-left: 5px;
  }

  &--months {
    text-align: center;
  }
}
