$c-content-border: whitesmoke;

.content {
  padding: 52px 0 16px;
}

.content__padded {
  margin: 0 16px;
  padding: 10px 0;
}

.content__head {
  display: flex;
  align-items: baseline;
  margin: 16px;

  > span {
    margin-left: auto;
    padding-left: 10px;
    color: gray;
  }
}

.content__list {
  list-style-type: none;
  padding: 0;
  margin: 16px;
}

.content__item {
  position: relative;
  border-bottom: 1px solid $c-content-border;

  &:first-child {
    border-top: 1px solid $c-content-border;
  }

  > a {
    display: flex;
    align-items: center;
    padding: 8px 0;
    @include setBackgroundColor(white);
  }
}

.content__item__icon {
  margin-right: 8px;
}

// .content__item__name {
// }

.content__item__action {
  margin-left: auto;
  padding-left: 10px;
}

.content__item__dot {
  display: inline-block;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: $c-content-border;
}

.empty-page {
  display: flex;
  align-content: center;
  align-items: center;
  height: calc(100vh - 108px);
}

.empty-page__content {
  flex: 1;
  text-align: center;
  color: $c-text-meta;
}

.empty-page__title {
  font-weight: 300;
}
