.form__inputs {
  margin: 0 16px;
  padding: 10px 0;

  select,
  input {
    margin: 0 0 20px;
  }
}

select,
input,
textarea {
  box-sizing: border-box;
  display: block;
  padding: 8px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(black, 0.2);
  background-color: white;
}

.form__button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid $c-others;
  color: white;
  text-align: center;
  cursor: pointer;
  @include setBackgroundColor($c-buttons);

  &.form__button--danger {
    @include setBackgroundColor($c-expenses);
  }
}

button,
input[type="submit"] {
  @extend .form__button;
  @include setBackgroundColor($c-income);
}

select,
input[type="date"] {
  -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-bottom: 16px;
}
