.form {
  margin: 8px 16px 0;
}

.input__group {
  display: flex;
  margin: 0 0 24px;
}

.input__element {
  flex: 1;
}

.input__element--large {
  flex: 2;
}

.input__element--small {
  border-left: 1px solid rgba(black, 0.2);
}

select,
input,
textarea {
  box-sizing: border-box;
  display: block;
  padding: 8px;
  width: 100%;
  height: 41px;
  border: none;
  border-bottom: 1px solid rgba(black, 0.2);
  background-color: white;
}

.form__button {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid $c-others;
  color: white;
  text-align: center;
  cursor: pointer;
  @include setBackgroundColor($c-buttons);

  &.form__button--danger {
    @include setBackgroundColor($c-expenses);
  }
}

button,
input[type="submit"] {
  @extend .form__button;
  @include setBackgroundColor($c-income);
}

select,
input[type="date"] {
  -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"],
input[type="color"] {
  display: inline-block;
  width: auto;
}

input[type="color"] {
  padding: 0;
  width: 100%;
}
