body {
  font-family: -apple-system, Helvetica, Arial, sans-serif;
}

.app-page {
  padding: 52px 10px 0;
}

.align--left {
  text-align: left;
}

.align--center {
  text-align: center;
}

.align--right {
  text-align: right;
}
