.content__list {
  list-style-type: none;
  margin: 8px 0 0;
  padding: 0;
}

.content__item {
  border-bottom: 1px solid $c-others;

  > a {
    display: flex;
    align-items: center;
    padding: 12px 0;
    @include setBackgroundColor(white);
  }
}

.content__item__icon {
  margin-right: 8px;
}

// .content__item__name {
// }

.content__item__action {
  margin-left: auto;
  padding-left: 10px;
}

.content__item__pill {
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}
