.app-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(#f8f8f8, 0.9);
  border-bottom: 1px solid rgba(black, 0.1);
  z-index: 1;
  line-height: 2;

  a {
    color: $c-buttons;

    &:active,
    &:focus {
      color: darken($c-buttons, 5%);
    }
  }

  > div {
    svg {
      height: 24px;
      width: 24px;
    }

    // left
    &:nth-child(1) {
      flex: 1;

      svg {
        float: left;
        margin-right: 15px;
      }
    }

    // middle
    &:nth-child(2) {
      flex: 2;
      text-align: center;
      font-weight: 500;
    }

    // right
    &:nth-child(3) {
      flex: 1;
      text-align: right;

      svg {
        float: right;
        margin-left: 15px;
      }
    }
  }
}
