.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 52px 10px 20px;
  background-color: $c-overview-background;
  color: white;
  text-align: center;
}

.overview__number {
  margin: 0;
  font-size: 48px;
}

.overview__label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: $c-overview-content;
}
