$c-progress-red: $c-expenses;
$c-progress-green: $c-income;

.progress__list {
  list-style-type: none;
  padding: 0;
  margin: 16px;
}

.progress__item {
  margin: 8px 0;

  > header {
    display: flex;
    align-items: center;
    padding: 8px 0;
  }
}

.progress__item__meta {
  margin-left: auto;
  padding-left: 10px;
  color: $c-text-meta;
}

.progress {
  height: 10px;
  background-color: $c-content-border;
  border-radius: 10px;
}

.progress__bar {
  height: 100%;
  border-radius: 10px;
}

.progress__bar--expenses {
  background-color: $c-progress-red;
}

.progress__bar--income {
  background-color: $c-progress-green;
}
