$c-progress-red: $c-expenses;
$c-progress-green: $c-income;

.progress__list {
  list-style-type: none;
  padding: 0;
  margin: 16px;
}

.progress__item {
  margin: 8px 0;

  > header {
    display: flex;
    align-items: center;
    padding: 8px 0;
  }
}

.progress__item__title {
  font-weight: 400;
}

.progress__item__meta {
  margin-left: auto;
  padding-left: 10px;
  color: $c-text-meta;
}

.progress {
  height: 10px;
  background-color: $c-content-border;
  border-radius: 10px;
}

.progress__bar {
  width: 0;
  height: 100%;
  border-radius: 10px;
  animation: progress 0.7s ease-in-out;
}

@keyframes progress {
  0% {
    width: 0;
  }
}
