.transactions__day {
  margin-bottom: 20px;
}

.transactions__title {
  display: flex;
  align-items: baseline;
  margin: 8px 0;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
}

.transactions__dayOfWeek {
  padding-left: 4px;
  color: gray;
  font-size: 14px;
}

.transactions__amount {
  margin-left: auto;
}

.transactions__list {
  @extend .content__list;
}

.transaction {
  @extend .content__item;
  border-bottom: none;
}

.transaction__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transaction__amount {
  @extend .content__item__action;
}
