.transactions__group {
  margin: 0 0 16px;
}

.transactions__group__title {
  display: flex;
  margin: 0 16px;
  padding: 8px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.transactions__group__amount {
  margin-left: auto;
}

.transactions__list {
  @extend .content__list;
  margin: 0 16px;
}

.transaction {
  @extend .content__item;
}

.transaction--uncleared::before {
  content: "•";
  position: absolute;
  top: 0;
  left: -14px;
  font-size: 24px;
  color: $c-ui;
}

.transaction__details__left {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transaction__details__right {
  margin-left: auto;
}

.transaction__name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transaction__amount {
  @extend .content__item__action;
}

.transaction__category {
  display: block;
  font-size: 14px;
}
