a {
  color: #333;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
  &:active {
    background-color: #f5f8fa;
  }
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

label {
  display: block;
  margin-bottom: 8px;
}

select,
input,
button {
  display: block;
  margin-bottom: 16px;
  padding: 8px;
  width: 100%;
  border-color: rgba(black, 0.2);
  border-width: 1px;
  border-radius: 0;
  background-color: white;
}

select,
input[type=date] {
  -webkit-appearance: none;
}

input[type=radio],
input[type=checkbox] {
  display: inline-block;
  width: auto;
  margin-bottom: 16px;
}
